.app__wrapper_content-form div {
    margin: 1rem;
}

.app__wrapper_subhead p {
    font-size: 23px;
}
.app__wrapper_subhead img {
    width: 50%;
}

label {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 1.3rem;
    color: var(--color-gray);
}

input {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    margin-top: .4rem;
    height: 200px;
    width: 600px;
}

button {
    margin-left: 1.2em;
    padding: .3rem;
    font-size: 1rem;
    background-color: var(--color-golden);
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, .3);
}

.app__wrapper-content p {
    padding-left: .9em;
}


@media screen and (max-width: 550px) {
    textarea {
        width: 275px;
    }
}

@media screen and (max-width: 280px) {
    textarea {
        width: 200px;

    }
}
