.btn {
  color: blue;
}

.app__aboutus {
  margin-bottom: 5rem;
}
.app__aboutus-content-about img{
  margin-bottom: 3em;
}
.app__aboutus-overlay img {
  display: flex;
  float: left;
  margin: 0 3rem 0 0;
  box-shadow: .1rem .2rem .2rem .2rem rgba(26, 79, 158, 0.145);
}
.app__aboutus-content-about img {
  width: 30%;
}

.center_p {
  text-align: center;
}
@media screen and (max-width: 2000px) {
  .app__aboutus-overlay {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .app__aboutus-overlay img  {
    width: 420px;
    height: 330px;
  }
}

@media screen and (max-width: 850px) {
  .app__aboutus-content-about img {
    width: 50%;
  }
  .app__aboutus-overlay img {
    width: 70%;
    height: 70%;
  }
}

@media screen and (max-width: 550px) {
  .app__aboutus-content {
    background-color: aqua;
  }
  .app__aboutus-overlay {
    background-color: forestgreen;
    padding: 5px;
  }
 
  .app__aboutus-overlay img {
    float: none;
  }
}
