.btn {
  color: blue;
}
.app__aboutus-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 2000px) {
  .app__aboutus-overlay {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .app__aboutus-overlay img {
    width: 400px;
    height: 350px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__aboutus-content-about img {
  width: 30%;
}

@media screen and (max-width: 1150px) {
  .app__aboutus-overlay img {
    width: 400px;
    height: 350px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 280px) {
  .app__aboutus-overlay img {
    max-width: 260px;
    height: 220px;
    margin: 3rem 2rem 0 0;
    padding-right: 3rem;
  }
}
