.btn {
  color: blue;
}

.app__aboutus {
  margin-bottom: 5rem;
}
.app__aboutus-overlay img {
  display: flex;
  float: left;
  margin: 0 1.7rem 0 0;
}
.app__aboutus-content-about img {
  width: 30%;
}

.center_p {
  text-align: center;
}
@media screen and (max-width: 2000px) {
  .app__aboutus-overlay {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .app__aboutus-overlay img  {
    width: 420px;
    height: 330px;
  }
}

@media screen and (max-width: 850px) {
  .app__aboutus-content-about img {
    width: 50%;
  }
  .app__aboutus-overlay img {
    width: 70%;
    height: 70%;
  }
}
@media screen and (max-width: 550px) {
  .app__aboutus-overlay img {
    width: 60%;
  }
  .app__aboutus-content-about img {
    width: 65%;
  }
}

@media screen and (max-width: 280px) {
  .app__aboutus-overlay img {
    width: 40%;
    height: 40%;
  }
  .app__aboutus-content-about img {
    width: 80%;
  }
}
