.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 7px rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  align-items: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel0 {
  background-image: url(../../assets/defuegocarousel.jpg);
}
.panel1 {
  background-image: url(../../assets/HaydenslakeSz.jpg);
}
.panel2 {
  background-image: url(../../assets/stonecliffSz.jpg);
}
.panel3 {
  background-image: url(../../assets/shigezooutside.png);
}
.panel4 {
  background-image: url(../../assets/southparkSz.jpeg);
}
.panel5 {
  background-image: url(../../assets/lechonoutside.jpg);
}

.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
  font-size: 25px;
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
  font-size: 20px;
}

.panel.open-active > *:last-child:hover {
  color: var(--color-golden);
}

.panel p {
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 1em;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}


@media screen and (max-width: 850px) {
  .panel p {
    font-size: 1em;
  }
  .panels {
    display: flex;
    flex-direction: column;
  }
  .panel {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
  .panel.open {
  flex: 5;
  font-size: 24px;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
  font-size: 18px;
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
  font-size: 16px;
}
}

@media screen and (max-width: 280px) {
  .app__wrapper-subheading img {
    width: 85%;
  }
  .app__wrapper_gallery {
    display: flex;
    flex-direction: column;
  }
  .panels {
    display: flex;
    flex-direction: column;
  }
  .panel {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
  .panel.open {
  flex: 5;
  font-size: 16px;
}
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
  font-size: 16px;
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
  font-size: 14px;
}
}
