.app__header {
  background-image: url(../../assets/bg.png);
  margin-top: 4rem;
}
.app__wrapper_img img {
  box-shadow: .31rem .21rem 1rem 0 rgba(26, 79, 158, 0.945);
}

@media screen and (max-width: 1150px) {
  .app__wrapper_header img {
    max-width: 100%;
    height: auto;
  }
}


@media screen and (max-width: 550px) {
  .app__wrapper_info {
    background-color: aqua;
    
  }
  .app__wrapper_header {
    width: 100%;
  }
  .app__wrapper_header img {
    justify-content: center;
  }
}