

.app__wrapper_event img {
display: flex;
box-shadow: 0 .2rem .3rem .2rem rgba(26, 79, 158, 0.145);
}
.app__wrapper {
    width: 100%;
}

@media screen and (max-width: 1150px) {
    .app__wrapper_event img {
        max-width: 100%;
        height: auto;
    }
    .app__wrapper_services img {
        width: 80%;
    }

} 

@media screen and (max-width: 550px) {
    .app__wrapper_services img {
        width: 65%;
    }
    .app__wrapper_event img {
        width: 80%;
    }
}