

@media screen and (max-width: 280px) {
    .app__wrapper {
        padding: 2rem;
        overflow-wrap: break-word;
    }
    .app__wrapper_services h1 {
        margin-bottom: 0;
        padding: 0;
    }
    .app__wrapper_services img {
        margin-top: 0;
        width: 95%;
    }
}